@layer reset, base, components, utilities;

@import url("./reset.css") layer(reset);
@import url("./base.css") layer(base);
@import url("./components.css") layer(components);
@import url("./animations.css") layer(utilities);

:root {
  /* Colour variables */
  --color-primary: oklch(98.66% 0.0021 17.19);
  --color-secondary: oklch(6.92% 0.008 284.11);
  --color-tertiary: oklch(22.19% 0.0042 264.48);

  /* Layout variables */
  --header-height: 64px;
}

html[data-theme="dark"] {
  /* Colour variables */
  --color-primary: oklch(28.38% 0.0047 247.99);
  --color-secondary: oklch(98.66% 0.0021 17.19);
  --color-tertiary: oklch(70.34% 0.0159 70.81);
}

@media (prefers-color-scheme: dark) {
  html:not([data-theme]) {
    /* Colour variables */
    --color-primary: oklch(28.38% 0.0047 247.99);
    --color-secondary: oklch(98.66% 0.0021 17.19);
    --color-tertiary: oklch(70.34% 0.0159 70.81);
  }
}

main {
  padding-top: var(--header-height);
}
