@layer base {
  @font-face {
    font-family: "Neue Montreal";
    src:
      url("/static/fonts/neue_montreal.woff2") format("woff2"),
      url("/static/fonts/neue_montreal.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Space Mono";
    src:
      url("/static/fonts/space_mono.woff2") format("woff2"),
      url("/static/fonts/space_mono.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  body {
    background-color: var(--color-primary);
    color: var(--color-secondary);

    font-family:
      "Space Mono",
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      sans-serif;
  }

  main {
    padding-inline: var(--page-padding);
  }
}
