@layer components {
  .nav-btn {
    align-items: flex-end;
    background-color: var(--color-primary);
    border-color: var(--color-tertiary);
    display: flex;
    height: 100%;
    justify-content: center;

    svg {
      color: var(--color-secondary);
      height: 28px;
      width: 28px;
    }
  }
}
