@layer components {
  :root {
    --hero-title-size: 72px;
  }

  #hero {
    border-bottom: 1px solid var(--color-secondary);
    display: flex;
    flex-direction: column;
    height: 90vh;

    h1,
    h2 {
      font-size: var(--hero-title-size);
      text-transform: capitalize;
      margin-bottom: -1rem;
    }

    h2 {
      font-size: calc(var(--hero-title-size) * 0.8);
      color: var(--color-tertiary);
    }

    #preview {
      align-items: center;
      align-self: flex-end;
      display: flex;
      flex-direction: row;
      gap: 1rem;
      justify-content: flex-end;
      margin-top: auto;
      margin-bottom: 2rem;
      width: 75%;

      svg {
        color: var(--color-secondary);
        height: 64px;
      }
    }
  }
}
