@layer components {
  header {
    display: flex;
    justify-content: space-between;
    height: var(--header-height);
    left: 0;
    padding: 0.75rem;
    position: fixed;
    top: 0;
    width: 100%;

    .logo {
      font-size: 2rem;
    }

    .external-links {
      align-items: center;
      display: flex;
      gap: 0.5rem;
      justify-content: center;
    }
  }
}
