package components

templ HeroSection() {
	<div id="hero">
		<div>
			<h1>Marcus Marinelli</h1>
			<h2>Software Engineer</h2>
			<p>
				Always Be Coding
			</p>
		</div>
		<div id="preview">
			@ContinueArrow()
			<p>
				A passionate software engineer specialised in full stack web development and constantly exploring other cs fields. Scroll to learn a bit about me.
			</p>
		</div>
	</div>
}
