package components

templ Navbar() {
	<header>
		<span class="logo">MARA</span>
		<div class="external-links">
			<a href="#" class="nav-btn">
				@GithubLogo()
			</a>
			<a href="#" class="nav-btn">
				@LinkedinLogo()
			</a>
			<a href="#" class="nav-btn">
				@ResumeLogo()
			</a>
		</div>
	</header>
}
